@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #6e6e6e;
}

body {
  background: linear-gradient(135deg, #FFFFFF 0%, #FEFEFE 100%);
  color: var(--foreground);
}

#banner-ad::before {
  content: "Advertisement";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  font-weight: 500;
  color: #adb1b7;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 8px;
  border-radius: 4px;
}
